NEXT_PUBLIC_SUPABASE_URL=https://vgpevfnuikttolzewjlm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZncGV2Zm51aWt0dG9semV3amxtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM2MjE1OTksImV4cCI6MjA3OTE5NzU5OX0.VYhBYHZHxMbUTJeLUBo6XKD5V8eG6b00lv0JYBJ29ak
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZncGV2Zm51aWt0dG9semV3amxtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzYyMTU5OSwiZXhwIjoyMDc5MTk3NTk5fQ.T1n4SPmNpvLTLl1EWBy5fnS2dUHjodx86H9agTMakTI
